 @model List<DocumentMaster>

<h3>Document Master</h3>


<table class="table table-striped table-bordered table-hover table-sm">
    <thead class="table-active bg-secondary text-light">
        <tr>
            <th>Document Code</th>
            <th>Document Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model)
        {<tr>
            <td>@obj.DocumentCode</td>
            <td>@obj.DocumentName</td>
        </tr>
        }
    </tbody>
</table>