<h2>Upload Document</h2>

<form method="post">
    <div class="border">
        <div>
            <label>Custemer Name</label>
            <input type="text" />
        </div>
        <div>
            <label>Custemer Name</label>
            <input type="email" />
        </div>
        <div>
            <label>Custemer Name</label>
            <select>
                <option></option>
            </select>
        </div>
    </div>
</form>